#skifahrer{
	background-color: black;
	position:absolute;
	top: 13em;
	width: 1em;
	height: 2em;
	z-index: 1;
}

.tor{
	position:absolute;
	left: calc(50% - 8em);
	top: 75%;
	z-index: -1;
}


.torLinks, .torRechts{
	float: left;
	width: 1em;
	height: 1em;
	background-color: red;
}

.torLinks{
	
	margin-right: 7em;
	
}

.torRechts{
	
	margin-left: 7em;
	
}

.endTor{
	background-color: green;
	position:absolute;
	top: 90%;
	width: 10em;
	height: 2em;
	z-index: -1;
}

body{
	overflow: hidden;
	
}

#rekord{
	position:absolute;
	font-size: 2.5em;
	font-family: sans-serif;
	text-align: left;
	float: left;
	padding-right: 1em;
	white-space: nowrap;
}

#punkte{
	position:absolute;
	float: left;
	font-size: 2.5em;
	font-family: sans-serif;
	text-align: left; 
}
#ergebnis{
	position:absolute;
	font-size: 3em;
	font-family: sans-serif;
	text-align: center;
}
#zeit{
	position:absolute;
	font-size: 2.5em;
	font-family: sans-serif;
	text-align: left;
	float: left;
}
#start{
	position:absolute;
	font-size: 3em;
	font-family: sans-serif;
	text-align: center;
	width: 100%;
	border: 2px solid black;
	left: -2px;
}


